body {
  margin: 0;
  background-image: url("./assets/erik-witsoe-647316-unsplash.jpg");
  background-size: cover;
  font-family: "karla", sans-serif;
}

.header {
  text-align: center;
  color: white;
  background-color: transparent;
  margin: auto;
  padding: 20px;
}

.form {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: transparent;
}

#movie_input {
  display: flex;
  align-items: center;
  border-color: darkgreen;
}

.submit {
  display: flex;
  justify-content: center;
  background-color: forestgreen;
  color: white;
  size: 20px;
}

.results_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  border-color: white;
}

.result_sections {
  border-color: whitesmoke;
}

.title {
  background-color: transparent;
  color: white;
  justify-content: center;
  overflow: hidden;
}

.movie_title {
  display: flex;
  font-size: 17px;
  justify-content: center;
}

.movie_year {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.poster {
  display: flex;
  height: 300px;
  width: 300px;
}

#More_Info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
